.hero{
    background-image:linear-gradient(90deg ,#03305F 18%, #03305f2d),url("./assets/hero.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}
.second{
    background-image:linear-gradient(90deg ,#03305fd4 18%, #03305fc5),url("./assets/second.PNG");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.third{
    background-image:linear-gradient(90deg ,#03305fd4 18%, #03305fc5),url("./assets/third.png");
    background-position:bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.fifth{
    background-image:linear-gradient(90deg ,#03305fd4 18%, #03305fc5),url("./assets/fifth.PNG");
    background-position:bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #03305F;
    /* Company color */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}